decorator>=4.3.0
fpdf==1.7.2
matplotlib==3.2.0
multitasking==0.0.7
numpy==1.20.2
numpydoc==0.8.0
pandas==1.2.4
pandocfilters==1.4.2
pathlib2==2.3.2
requests==2.25
scipy==1.6.2
xlrd==1.2.0
XlsxWriter==1.2.6
python-pptx==0.6.18
yfinance==0.1.54
